venv_ollama/

__pycache__/

*.pyc
.env

.DS_Store
Thumbs.db

.vscode/
.idea/

.venv/

debug.log

mi_modelo_afinado_lora/
mi_modelo_ollama/
outputs/
unsloth_compiled_cache/

phi-3-mini-4k-instruct.Q4_K_M.gguf